
/*最近のiphone*/
@media screen and (max-width: 390px) {
    header h1 {
        font-size: 30px;
    }
    

}

/*iphone 標準*/
@media screen and (max-width: 375px) {
    header h1 {
        font-size: 15px;
    }
  
}
/*android 小*/
@media screen and (max-width: 360px) {
    header h1 {
        font-size: 18px;
    }
  
}