@media screen and (min-width: 600px) {

  .card {
    max-width: 500px;
  }

  button {
    font-size: 18px;
    padding: 14px 24px;
  }

}
@media screen and (min-width: 900px) {

  body {
    background-color: #f0f4f7;
  }

  .card {
    max-width: 600px;
  }

}
